<nav class='nav navbar navbar-expand'>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item"><a href='/blog.html' class='nav-link'>Blog</a></li>

    <li class="languages nav-item">
      <li class="nav-item"><a href='{{ "/ca" | prepend:site.baseurl }}' class='language nav-link'>Català</a></li>
      <li class="nav-item"><a href='{{ "/es" | prepend:site.baseurl }}' class='language nav-link'>Español</a></li>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class='mx-auto col-12 col-sm-10 col-md-8 content'>
      <div class='hero'>
        <div class='hero__logo'>
          <a href="/"><img src='{{ "/assets/img/logo.svg" | prepend:site.baseurl }}')} /></a>
        </div>
      </div>
