<div>
  <img src='{{ "/assets/img/bg/birds.jpg" | prepend:site.baseurl }}' class='head_image' />
  <div class='topbar'>
    <div></div>
    <div class='nav'>
      <a href='{{ "/ca" | prepend:site.baseurl }}' class='language'>Català</a>
      <a href='{{ "/es" | prepend:site.baseurl }}' class='language'>Español</a>
      <a href='/blog.html' >Blog</a>
    </div>
  </div>
  <div class='content'>
    <div class='hero'>
      <div class='hero__logo'>
        <a href="/"><img src='{{ "/assets/img/logo.svg" | prepend:site.baseurl }}')} /></a>
      </div>
      <p>{{ page.description_1 | markdownify }}</p>
      <p>{{ page.description_2 | markdownify }}</p>
    </div>