   {% for language in site.translations[site.lang]["global"]["langs"] %}
      {% assign locale = language[0] %}
      {% assign name = language[1] %}

      {% capture page_translation_url %}
         {% if locale == site.default_locale %}
            {{ site.baseurl_root }}{{ page.url }} }}
         {% else %}
            {{ site.baseurl_root }}/{{ locale }}{{ page.url }} }}
         {% endif %}
      {% endcapture %}

      <a class="{{ include.item_class_list }}" href={{ page_translation_url }}>{{ name }}</a>
   {% endfor %}
