<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ site.translations[site.lang]["global"]["tagline"] }}
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {% for language in site.translations[site.lang]["global"]["langs"] %}
      <a class="dropdown-item" href={{ site.baseurl_root }}/{{ language[0] }}>{{ language[1] }}</a>
    {% endfor %}
  </div>
</div>
