body {
  font-family: $font-family;
  font-size: $font-size;
  color: $text-color;
  line-height: 1.8em;
}

h1, h2, h3, h4 {
  font-family: $font-family-title;
  color: $title-color;

  a {
    color: $title-color;
  }
}

a {
  color: $primary-color;
}

p {
  margin: 0 0 1.7rem 0;
}


// Utilities
.small {
  font-size: 1rem;
}
