body {
  font-family: Lato;
  font-weight: 300;
  font-size: 18px;
  color: #333;
  line-height:1.8em;
}

h1, h2, h3, h4 {
  font-family: Work Sans;
}

a {
  color: #39BBD5;
}

p {
  margin: 0 0 1.7rem 0;
}
