$font-size: 18px;
$font-family: Lato;
$font-family-title: Lato;

$text-color: #727879;
$title-color: #333;
$primary-color: #39BBD5;

a {
  color: $primary-color;
}

blockquote {
  font-size: 1.8rem;
  margin: 60px -40px;
  line-height: 1.6;
  color: #1B1B1B;
  font-style: italic;
}
