.head_image {
  position: absolute;
  width: 100%;
  opacity: 0.1;
  z-index: -100;
  filter: blur(2px);
}

h1, h2, h3, h4 {
  font-family: Work Sans;
}

a {
  color: #39BBD5;
}

p {
  margin: 0 0 1.7rem 0;
}

#main-blog {
  padding-top: 3rem;

  img, .video {
    max-width: 90%;
    display:block;
    margin: 2rem auto 0 auto;
  }

  img + em {
    margin: 1rem 0 0 5%;
    display: inline-block;
  }
}

.post {
  padding: 0 0 3rem;
}
