.head_image {
  position: absolute;
  width: 100%;
  opacity: 0.1;
  z-index: -100;
  filter: blur(2px);
}

h1, h2, h3, h4 {
  font-family: Work Sans;
}

a {
  color: #39BBD5;
}

#main-blog p {
  text-align: justify;
}
#main-blog h3 {
  font-size: 1.5em;
  text-transform: inherit;
  font-weight: bold;
}
