.projects {
  margin: 120px 0;

  a {
    font-weight: bold;
  }

  .project {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 50px 0;

    .description {
      padding: 0 16px 0 0;
      margin-bottom: 10px;

      p {
        margin-bottom: 16px;
      }
    }

    .logo img {
      width: 140px;
      height: 140px;
    }
  }
}

@media (max-width: 600px) {
  .projects {
    .project {
      display: block;

      .description {
        margin-top: 10px;
      }
    }
  }
}
