.projects {
  margin: 120px 0;

  a {
    font-weight: bold;
  }

  .project {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 50px 0;

    .logo {
      width: 140px;
      height: 140px;
    }

    .description {
      font-size: 18px;
      color: #333;
      padding: 0 16px 0 0;
    }
  }
}
