.nav {
  margin-right: 10px;
  font-weight: 500;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .nav-item {
    font-size: 1rem;
  }

  .languages {
    margin-left: 1rem;
  }
}
