.nav {
  margin-right: 10px;
  font-weight: 500;

  .nav-item {
    font-size: 1rem;

    a, a:hover {
      text-decoration: none;
    }

    a {
      color: $text-color;
    }

    a:hover {
      color: $primary-color;
    }
  }

  .languages {
    margin-left: 1rem;
  }
}
