body {
  font-family: Lato;
  font-size: 18px;
  color: #727879;
  line-height: 1.8em; }

h1 {
  font-weight: bold;
  margin-bottom: 1.2rem; }

h1, h2, h3, h4 {
  font-family: Work Sans;
  color: #333; }
  h1 a, h2 a, h3 a, h4 a {
    color: #333; }

a {
  color: #39BBD5; }

p {
  margin: 0 0 1.7rem 0; }

.small {
  font-size: 1rem; }

footer {
  margin-top: 4rem; }

.head_image {
  position: absolute;
  width: 100%;
  opacity: 0.1;
  z-index: -100;
  filter: blur(2px); }

.content {
  margin-bottom: 3.75rem; }

#main-blog {
  padding: 3rem 20px 0;
  max-width: 700px;
  margin: 0 auto; }
  #main-blog img, #main-blog .video {
    max-width: 90%;
    display: block;
    margin: 2rem auto 0 auto; }
  #main-blog img + em {
    margin: 1rem 0 0 5%;
    display: inline-block; }
  #main-blog section {
    margin-bottom: 3.75rem; }

.post {
  padding: 0 0 3rem; }

.page-header__title {
  margin-top: 3rem; }

.nav {
  margin-right: 10px;
  font-weight: 500; }
  .nav .nav-item {
    font-size: 1rem; }
    .nav .nav-item a, .nav .nav-item a:hover {
      text-decoration: none; }
    .nav .nav-item a {
      color: #727879; }
    .nav .nav-item a:hover {
      color: #39BBD5; }
  .nav .languages {
    margin-left: 1rem; }

.hero .hero__logo {
  width: 100%;
  padding: 30px 0; }
.hero .hero__logo img {
  width: 100%; }

.projects {
  margin: 120px 0; }
  .projects a {
    font-weight: bold; }
  .projects .project {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 50px 0; }
    .projects .project .description {
      padding: 0 16px 0 0;
      margin-bottom: 10px; }
      .projects .project .description p {
        margin-bottom: 16px; }
    .projects .project .logo img {
      width: 140px;
      height: 140px; }

@media (max-width: 600px) {
  .projects .project {
    display: block; }
    .projects .project .description {
      margin-top: 10px; } }
.social_links .twitter, .social_links .github {
  display: inline-block;
  margin: 2px 12px 0 0; }
.social_links img {
  width: 26px;
  height: 26px;
  margin: 0 4px 0 0;
  vertical-align: middle; }
.social_links a {
  color: #727879;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle; }
  .social_links a:hover {
    text-decoration: underline; }

.friends {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap; }
  .friends .friend {
    margin: 16px 20px; }
