---
layout: default
---

{%- assign _posts = site.posts | sort: 'date' | reverse -%}

<!-- Main -->
<div id="main-blog" class="my-24 sm:my-48 max-w-2xl mx-auto">
  {%- if page.content != "" -%}
    {%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
  {%- endif -%}

  <!-- Posts List -->
  {%- for _post in _posts -%}
    {%- capture _title -%}
      <a href="{{- _post.url | absolute_url -}}">{{- _post.title -}}</a>
    {%- endcapture -%}

    {%- capture _subtitle -%}
      {% if _post.author -%}{{- _post.author }} – {% endif %}
      {{- _post.date | date_to_long_string -}}
    {%- endcapture -%}

    {%- capture _excerpt -%}
      <p class="font-sans text-gray-400 text-lg">
        {{- _post.excerpt | strip_html | truncatewords: 100 -}}
      </p>
    {%- endcapture -%}

    {%- capture _link -%}
      <div class="mt-5">
        <a class="font-sans text-blue-500 text-lg" href="{{- _post.url | absolute_url -}}">{% t pages.blog.more %}</a>
      </div>
    {%- endcapture -%}

    {%- assign _content = _excerpt | append: _link -%}
    {%- include section.html title=_title subtitle=_subtitle content=_content -%}
  {%- endfor -%}
</div>
