<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: "es" }}">
  {% include head.new.html %}
  <body class="flex flex-col min-h-screen">
    <div class="flex-1 mx-8">
      <div class="my-8 max-w-4xl mx-auto md:my-10">
        {% include navbar.html %}

        {% include sidebar.html %}

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src='{{ "/assets/js/index.js" | prepend:site.baseurl }}'></script>

    {% include google_analytics.html %}
  </body>
</html>
