---
layout: default
---

<p>{% t page.description_1 %}</p>
<p>{% t page.description_2 %}</p>

<div class='projects'>
  <h2>{% t page.projects_title %}</h2>

  <div class='project'>
    <div class='logo'>
      <img src='{{ "/assets/img/projects/katuma.png" | prepend:site.baseurl }}' width='140' height='140' />
    </div>
    <div class='description'>
      {% t page.katuma_description %}
      <div class='social_links'>
        <div class='twitter'>
          <img src='{{ "/assets/img/social/twitter.jpg" | prepend:site.baseurl }}' />
          <a href='https://twitter.com/katuma_org'>@katuma_org</a>
        </div>
        <div class='github'>
          <img src='{{ "/assets/img/social/github.png" | prepend:site.baseurl }}' />
          <a href='https://github.com/coopdevs/openfoodnetwork'>coopdevs/openfoodnetwork</a>
        </div>
      </div>
    </div>
  </div>

  <div class='project'>
    <div class='logo'>
      <img src='{{ "/assets/img/projects/timeoverflow.jpg" | prepend:site.baseurl }}' width='140' height='140' />
    </div>
    <div class='description'>
      {% t page.timeoverflow_description %}
      <div class='social_links'>
        <div class='twitter'>
          <img src='{{ "/assets/img/social/twitter.jpg" | prepend:site.baseurl }}' />
          <a href='https://twitter.com/timeoverflow'>@timeoverflow</a>
        </div>
        <div class='github'>
          <img src='{{ "/assets/img/social/github.png" | prepend:site.baseurl }}' />
          <a href='https://github.com/coopdevs/timeoverflow'>coopdevs/timeoverflow</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <h2>{% t page.friends_title %}</h2>

  <div class='friends'>

    {% for friend in site.friends %}
      <div class="friend">
        <a href={{ friend.url }} target='_blank'>
          <img src={{ friend.logo_url | prepend:site.baseurl }} alt={{ friend.name }} title={{ friend.name }} width='220' />
        </a>
      </div>
    {% endfor %}

  </div>
</div>
